.result {
    @include centered;
    flex-direction: column;

    width: 350px;
    border-radius: 2rem;
    padding: 2rem 3rem 3rem 3rem;

    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    
    &__header {
        h2 {
        color: hsl(241, 100%, 89%);    
        font-size: 1.5rem;
        text-align: center;
               
        padding: 0 1rem 2rem 1rem;
    }
    }

    &__circle {
        @include centered;

        width: 200px;
        height: 200px;
        padding: 2rem;
        border-radius: 50%;

        background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

        p {
            text-align: center;
            color: hsl(241, 100%, 89%);
            padding: 1rem;
            
            span {
                font-size: 4rem;
                font-weight: bold;
                color: hsl(221, 100%, 96%);
            }
        }
    }

    &__compare {
        h2 {
            color: hsl(221, 100%, 96%);          
            text-align: center;
            font-size: 1.75rem;

            padding: 1rem;
        }

        p{
            text-align: center;
            color: hsl(241, 100%, 89%);
        } 
    }
}
